/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.sidebar {
    background: linear-gradient(to bottom right, #6f52ed, #ec7d91);
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.sidebar ol {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.sidebar li {
    padding: 10px 0;
    font-size: 16px;
}

.form-container {
    padding: 20px;
    flex-grow: 1;
}

h2 {
    margin-top: 0;
    font-size: 24px;
}

p {
    font-size: 14px;
    color: #555;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input:focus {
    border-color: #6f52ed;
    outline: none;
    box-shadow: 0 0 5px rgba(111, 82, 237, 0.5);
}

.error {
    color: #ff4d4d;
    font-size: 12px;
    display: none;
}


.next-step {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6f52ed;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}

.next-step:hover {
    background-color: #6f52ed;
}